scan {
  reportName = "Penetration_Results"
  contextName = "VOL_API"
  policies = ["parameter-tampering","crlf-injection","sql-injection"]
}

api {
  # These are required
   baseURL = "https://abc.co.uk"
   apiKey = "azAZ09"
   resources = ["1", "2"]

   # These are option, only populate if you are making a PUT and/or GET call
   payload {
     post {
       "name": "example",
       "title": "sir"
     },
     put {
       "name": "example1",
       "title": "mr"
     }
   }
}